@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
a,ul,ol{
  text-decoration: none;
  list-style: none;
}
body{
  width: 61%;
  margin: 0 auto;
  overflow-x: hidden;
}
/* 전체종료 */
/* 헤더시작 */
header{
 width: 100%;
 height: 80px;
}
header .logo{
  min-width: 8%;
  float: left;
}
header .logo img{
  width: 50%;
}
header .menu-icon{
  float: right;
  padding: 15px 0px 15px 20px;
  cursor: pointer;
}
.menu-icon .icon{
  width: 20px;
  height: 2px;
  background-color: #111;
  margin-top: 30px;
  position: relative;
}
.menu-icon .icon::before{
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #111;
}
.menu-icon .icon::after{
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #111;
}
/* 헤더종료 */
/* 메인이미지시작 */
.main{
  clear: both;
  width: 100%;
  vertical-align: bottom;
}
.main img{
  width: 100%;
}
/* 메인이미지 종료 */
/* 메인 동영상 시작 */
.movie{
  width: 100%;
  text-align: center;
  margin: 20px 0;
  position: relative;
}
/* 메인 동영상 종료 */
/* 티셔츠 시작 */
.tshirts{
  width: 100%;
}
.tshirts img{
  width: 100%;
}
/* 티셔츠 종료 */
/* 티셔츠 타이틀 시작 */
.tshirts-title{
  padding: 20px 0;
}
.tshirts-title h1{
  font-size: 1.7rem;
  text-transform: uppercase;
}
/* 티셔츠 타이틀 종료 */
/* 티셔츠 정렬 시작 */
.container1{
  width: 100%;
}
.container1 img{
  width: 100%;
}
.col-md-4{
  padding-left: 15px;
  padding-bottom: 15px;
  overflow: hidden;
}
.sell h2{
  font-size: 1.2rem;
}
.container1 a{
  color: #111;
}
.sell{
  width: 80%;
  float: left;
}
.col-md-4:hover h2{
  color: #0078ff;
  transition: .5s;
}
.col-md-4:hover p{
  color: rgb(226, 22, 97);
  transition: .5s;
}
.cart{
  width: 20%;
  float: right;
  text-align: right;
  z-index: 2;
}
.cart i{
  font-size: 1.7rem;
  color: #ccc;
  padding-top: 32px;
}
.container1 .read{
  width: 100%;
  padding-top: 70px;
  position: relative;
}
.container1 .read::after{
  content: "";
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 40%;
  height: 1px;
  background-color: rgba(0,0,0,.4);
  transition: .5s;
}
.container1 .read a{
  font-size: 1.5rem;
  border: 1px solid #16a4e2;
  color: #16a4e2;
  padding: 5px 20px;
  text-decoration: none;
  transition: .5s;
}
.container1 .read:hover a{
  background-color: #16a4e2;
  color: #fff;
  transition: .5s;
}
.container1 .read:hover::after{
  background-color: #16a4e2;
  transition: .5s;
}
/* 메인 티셔츠 종료 */
/* 바지 시작 */
.pants{
  width: 100%;
  padding-top: 70px;
}
.pants img{
  width: 100%;
}
/* 바지 종료 */
/* 바지 타이틀 시작 */
.pants-title{
  padding: 20px 0;
}
.pants-title h1{
  font-size: 1.7rem;
  text-transform: uppercase;
}
/* 바지 타이틀 종료 */
/* 바지 정렬 시작 */
.container2{
  width: 100%;
  white-space: nowrap;
}
.container2 img{
  width: 100%;
}
.col-md-4{
  padding-left: 15px;
  padding-bottom: 15px;
  overflow: hidden;
}
.sell h2{
  font-size: 1.2rem;
}
.container2 a{
  color: #111;
}
.sell{
  width: 80%;
  float: left;
}
.col-md-4:hover h2{
  color: #0078ff;
  transition: .5s;
}
.col-md-4:hover p{
  color: rgb(226, 22, 97);
  transition: .5s;
}
.cart{
  width: 20%;
  float: right;
  text-align: right;
  z-index: 2;
}
.cart i{
  font-size: 1.7rem;
  color: #ccc;
  padding-top: 32px;
}
.container2 .read{
  width: 100%;
  padding-top: 70px;
  position: relative;
}
.container2 .read::after{
  content: "";
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 40%;
  height: 1px;
  background-color: rgba(0,0,0,.4);
  transition: .5s;
}
.container2 .read a{
  font-size: 1.5rem;
  border: 1px solid #16a4e2;
  color: #16a4e2;
  padding: 5px 20px;
  text-decoration: none;
  transition: .5s;
}
.container2 .read:hover a{
  background-color: #16a4e2;
  color: #fff;
  transition: .5s;
}
.container2 .read:hover::after{
  background-color: #16a4e2;
  transition: .5s;
}
/* 메인 바지 종료 */
/* 메인 신발 시작 */
.shoes{
  width: 100%;
  padding-top: 70px;
}
.shoes img{
  width: 100%;
}
/* 메인 신발 종료 */
/* 티셔츠 타이틀 시작 */
.shoes-title{
  padding: 20px 0;
}
.shoes-title h1{
  font-size: 1.7rem;
  text-transform: uppercase;
}
/* 티셔츠 타이틀 종료 */
/* 신발 정렬 시작 */
.container3{
  width: 100%;
  white-space: nowrap;
}
.container3 img{
  width: 100%;
}
.col-md-3{
  padding-left: 15px;
  padding-bottom: 15px;
  overflow: hidden;
  transition: .5s;
}
.sell h2{
  font-size: 1.2rem;
}
.container3 a{
  color: #111;
}
.sell{
  width: 70%;
  float: left;
}
.col-md-3:hover h2{
  color:#0078ff;
  transition: .5s;
}
.col-md-3:hover p{
  color: rgb(226, 22, 97);
  transition: .5s;
}
.cart{
  width: 30%;
  float: right;
  text-align: right;
  z-index: 2;
}
.cart i{
  font-size: 1.7rem;
  color: #ccc;
  padding-top: 32px;
}
.cart i:hover{
  color: #111;
  transition: .5s;
}
/* 신발 정렬 종료 */
/*  푸터 시작 */
footer{
  width: 100%;
  height: 180px;
  background-color: #333333;
  margin-top: 20px;
}
footer i{
  color: #fff;
  font-size: 2.5rem;
  padding: 0 10px;
}
.sns{
  text-align: center;
  padding-top: 30px;
}
.sns_title{
  text-align: center;
  padding-top: 10px;
  color: #fff;
  font-size: .9rem;
}
.address{
  text-align: center;
  padding-top: 10px;
  color: rgb(150,150,150);
  font-size: .8rem;
}
.bottom{
  text-align: center;
  padding-top: 5px;
  color: #fff;
  font-size: .9rem;
}
/* 푸터 종료 */
/* 메뉴시작 */
.menu-wrap{
  width: 62%;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-bottom: 1px solid #111;
  transition: .5s;
}
.menu-wrap-jq{
  top: 0;
  transition: .5s;
}
.menu-wrap .logo{
  min-width: 8%;
  float: left;
}
.menu-wrap .logo img{
  width: 50%;
}
.icon-close{
  float: right;
  cursor: pointer;
  padding-top: 40px;
}
.menu{
  clear: both;
  width: 100%;
  height: 100%;
}
.search{
  width: 100%;
  position: relative;
  padding-top: 10px;
}
.search input{
  width: 100%;
  border: none;
  border-bottom: 1px solid #111;
  outline: none;
  transition: .5s;
}
.search input:focus{
  border-bottom: 1px solid tomato;
  transition: .5s;
}
.search i{
  font-size: 2rem;
  position: absolute;
  top: 2px;
  right: 0;
  cursor: pointer;
}
.menu-title p{
  font-size: 1.4rem;
  border-bottom: 1px solid #111;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  width: 50%;
  float: left;
}
.menu-title .title p::before{
  content: "";
  position: absolute;
  bottom: .5px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #111;
  transition: .7s;
}
.menu-title .title:nth-child(1) p::before{
  width: 100%;
}
.menu-title .title p:hover::before{
  width: 100%;
  transition: .7s;
}
.menu-title a{
  color: #111;
  text-decoration: none;
}
.menu1{
  clear: left;
}
.menu-title ul{
  width: 50%;
  float: left;
  text-transform: uppercase;
}
.menu-title li{
  padding: 10px 0;
  font-size: 1.1rem;
}
.menu-title li a{
  position: relative;
  letter-spacing: 2px;
}
.menu-title li a::before{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #111;
  transition: .5s;
}
.menu-title li:hover a::before{
  width: 100%;
  transition: .5s;
}
.soon{
  font-size: .7em;
}
.menu-logo{
  padding-top: 80px;
}
/* 메뉴종료 */
/* 미디어 */
@media (max-width: 1400px) {
  body{
    width: 95%;
  }
  .menu-wrap{
    width: 96%;
  }
}
@media (max-width: 393px) {
  .soon{
    font-size: 0em;
  }
}
