@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 50%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 30px;
  margin-top: 10px;
}

header a {
  text-decoration: none;
  color: #111;
}

header .logo {
  float: left;
}

header .menu-icon {
  float: right;
  padding: 13px 0;
  cursor: pointer;
}

.menu-icon .icon-line {
  width: 15px;
  height: 2px;
  background-color: #111;
  position: relative;
}

.menu-icon .icon-line::before {
  content: "";
  position: absolute;
  top: -7px;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: #111;
  transition: .5s;
}

.menu-icon .icon-line::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  width: 10px;
  height: 2px;
  background-color: #111;
  transition: .5s;
}

.menu-icon:hover .icon-line {
  width: 20px;
  transition: .5s;
}

.menu-icon:hover .icon-line::after {
  width: 20px;
  transition: .5s;
}

/* 헤더부분 종료 */
/*   .menu 시작 */
.menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 24%;
  height: 100%;
  background-color: #1F85DE;
  padding: 20px;
  transition: .8s ease-in-out;
}

.menu-jq {
  right: 0;
  transition: .8s ease-in-out;
}

.menu h1 {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
}

.menu .line {
  width: 90%;
  height: 1px;
  background-color: #fff;
  margin: 5px 0;
}

.menu a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px 0;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

.menu a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: 1s;
}

.menu a:hover {
  color: #FFDC6B;
  transition: 1s;
}

.menu a:hover::before {
  width: 90%;
  transition: 1s;
}

.close {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: .8s;
}

.close:hover {
  color: #fff;
  transition: .5s;
}

.arrow_box {
  position: relative;
  transform: translate(-61px, 50px);
  background: rgba(0.0.0..0);
  border: 2px solid #fff;
  width: 150px;
  visibility: hidden;
  opacity: 0;
  transition: .8s;
}

.plus1:hover .arrow_box {
  transform: translate(-61px, 30px);
  visibility: visible;
  opacity: 1;
  transition: .8s;
}

.plus2:hover .arrow_box {
  transform: translate(-61px, 30px);
  visibility: visible;
  opacity: 1;
  transition: .8s;
}

.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(213, 213, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.img-box {
  width: 90%;
  height: 45%;
  /* margin: 0 auto; */
  margin-top: 50px;
  background-image: url(메뉴이미지/1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.img-box::before {
  content: "About Us";
  position: absolute;
  text-align: center;
  line-height: 410px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  font-size: .9rem;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}

.img-box:hover::before {
  visibility: visible;
  opacity: 1;
  transition: .5s;
}

.img-box-bg1 {
  background-image: url(메뉴이미지/2.jpg);
  background-position: left;
  background-size: cover;
}

.img-box-bg1::before {
  content: "Shop";
  position: absolute;
  text-align: center;
  line-height: 410px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  font-size: .9rem;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}

.img-box-bg1:hover::before {
  visibility: visible;
  opacity: 1;
  transition: .5s;
}

.img-box-bg2 {
  background-image: url(메뉴이미지/3.jpg);
  background-position: center;
  background-size: cover;
}

.img-box-bg2::before {
  content: "Stockist";
  position: absolute;
  text-align: center;
  line-height: 410px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  font-size: .9rem;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}

.img-box-bg2:hover::before {
  visibility: visible;
  opacity: 1;
  transition: .5s;
}

.img-box-bg3 {
  background-image: url(메뉴이미지/4.jpg);
  background-position: center;
  background-size: cover;
}

.img-box-bg3::before {
  content: "Collection";
  position: absolute;
  text-align: center;
  line-height: 410px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  font-size: .9rem;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}

.img-box-bg3:hover::before {
  visibility: visible;
  opacity: 1;
  transition: .5s;
}

.img-box-bg4 {
  background-image: url(메뉴이미지/5.jpg);
  background-position: center;
  background-size: cover;
}

.img-box-bg4::before {
  content: "Community";
  position: absolute;
  text-align: center;
  line-height: 410px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  font-size: .9rem;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}

.img-box-bg4:hover::before {
  visibility: visible;
  opacity: 1;
  transition: .5s;
}

.img-box-bg5 {
  background-image: url(메뉴이미지/6.jpg);
  background-position: bottom;
  background-size: cover;
}

.img-box-bg5::before {
  content: "Contact";
  position: absolute;
  text-align: center;
  line-height: 410px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  font-size: .9rem;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}

.img-box-bg5:hover::before {
  visibility: visible;
  opacity: 1;
  transition: .5s;
}

.img-box span:nth-child(1) {
  position: absolute;
  top: 20px;
  left: -101%;
  width: 100%;
  height: 1px;
  background-color: #111;
  transition: .8s;
}

.img-box span:nth-child(2) {
  position: absolute;
  bottom: 20px;
  left: 101%;
  width: 100%;
  height: 1px;
  background-color: #111;
  transition: .8s;
}

.img-box span:nth-child(3) {
  position: absolute;
  top: -101%;
  right: 20px;
  width: 1px;
  height: 100%;
  background-color: #111;
  transition: .8s;
  transition-delay: .8s;
}

.img-box span:nth-child(4) {
  position: absolute;
  top: 101%;
  left: 20px;
  width: 1px;
  height: 100%;
  background-color: #111;
  transition: .8s;
  transition-delay: .8s;
}

.img-box:hover span:nth-child(1) {
  left: 0;
  transition: .8s;
}

.img-box:hover span:nth-child(2) {
  left: 0;
  transition: .8s;
}

.img-box:hover span:nth-child(3) {
  top: 0;
  transition: .8s;
  transition-delay: .8s;
}

.img-box:hover span:nth-child(4) {
  top: 0;
  transition: .8s;
  transition-delay: .8s;
}

.color {
  margin-top: 75px;
}

.color1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 15px;
  cursor: pointer;
}

/* menu 종료 */
/* 메인이미지 시작 */
.main{
  clear: both;
  width: 100%;
  margin: 10px 0;
}

.main img{
  width: 100%;
}

.loupe{
  cursor: crosshair;
  border-radius: 50%;
}
/* 메인이미지 끝 */
/* skill 타이틀 시작 */
.skill {
  text-align: center;
  margin-top: 20px;
  letter-spacing: 5px;
}

.skill h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}
/* skill 타이틀 종료 */
/* skill-sell 시작 */

.sell{
  width: 100%;
  height: 250px;
  border: 1px solid rgba(0,0,0,.2);
  margin: 20px auto;
  transition: .5s;
}

.sell:hover{
  border: 1px solid #111;
  transition: .5s;
}

.icon{
  width: 27%;
  height: 100%;
  float: left;
  border-right: 1px solid rgba(0,0,0,.2);
  overflow: hidden;
  position: relative;
}

.icon .plus{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  line-height: 50px;
  background-color: rgba(255,255,255,.5);
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
  z-index: 5;
  cursor: pointer;
}

.html-sell .icon .plus:hover{
  background-color: rgba(228,077,038,.5);
  transition: .5s;
}

.css-sell .icon .plus:hover{
  background-color: rgba(055,154,214,.5);
  transition: .5s;
}

.javascript-sell .icon .plus:hover{
  background-color: rgba(247,223,030,.5);
  transition: .5s;
}

.jquery-sell .icon .plus:hover{
  background-color: rgba(060,121,010,.5);
  transition: .5s;
}

.icon:hover .plus{
  visibility: visible;
  opacity: 1;
  transition: .5s;
}

.icon img{
  width: 100%;
  height: 100%;
}

.icon:hover img{
  transform: rotate(30deg);
  transition: .8s;
}

.icon::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  transition: .8s;
}

.icon:hover::before{
  visibility: visible;
  opacity: 1;
  transition: .8s;
}

.text{
  width: 73%;
  height: 100%;
  float: left;
  padding: 10px;
}

.name span{
  font-family: 'Montserrat', sans-serif;
}

table{
  width: 100%;
  font-size: .9rem;
}

.name th{
  text-align: left;
  width: 50%;
  font-weight: lighter;
}

.name td{
  text-align: left;
  width: 50%;
}

.btn{
  width: 100%;
  border: 1px solid;
  margin: 20px auto;
  overflow: hidden;
}

.btn a{
  text-align: center;
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  font-size: .9rem;
  color: #111;
  width: 100%;
  height: 100%;
}

.btn div{
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
  border-right: 1px solid;
}

.btn .btn1-2{
  border-right: none;
}

.btn1 a:hover{
  background-color: rgb(228,077,038);
  color: #fff;
  transition: .5s;
}

.btn2 a:hover{
  background-color: rgb(055,154,214);
  color: #fff;
  transition: .5s;
}

.btn3 a:hover{
  background-color: rgb(247,223,030);
  transition: .5s;
}

.btn4 a:hover{
  background-color: rgb(060,121,010);
  color: #fff;
  transition: .5s;
}
/*  skill sell 끝 */
/* footer 시작 */

footer{
  width: 100%;
  height: 60px;
  background-color: #fff;
  margin-top: 20px;
  text-align: center;
  background-color: #456173;
}

footer p{
  line-height: 60px;
  font-size: 1.1rem;
  letter-spacing: 5px;
  color: #fff;
}

/* footer 끝 */
