
/* sell-text */
.sell{
  width: 100%;
  text-align: left;
  margin: 50px 0;
  overflow: hidden;
  clear: both;
}
.sell .img-box{
  width: 60%;
  float: left;
}
.sell .main-sell{
  width: 100%;
}
.sell-text{
  float: left;
  width: 40%;
  padding-left: 10px;
}
/* 기본배치완료 */
/* 텍스트 배치 */
.sell-title{
  width: 100%;
  overflow: hidden;
  padding: 10px;
}
.sell-title h2{
  width: 90%;
  font-size: 1.2rem;
  font-weight: lighter;
  letter-spacing: 3px;
  float: left;
}
.sell-title .cart{
  width: 10%;
  float: left;
  text-align: right;
  cursor: pointer;
}
.cart img{
  width: 25px;
  padding-top: 12px;
}
.price{
  width: 100%;
  padding: 10px;
  font-size: 15px;
}
.plus{
  width: 100%;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  font-size: 12px;
}
.plus button{
  border: none;
  background-color: #fff;
  outline: none;
}
.color{
  margin-top: 30px;
  padding: 10px;
  font-size: 12px;
}
.color .color-box{
  width: 40px;
  height: 15px;
  background-color: gray;
  margin: 10px 0;
  cursor: pointer;
}
.color p{
  text-align: right;
  color: #ab3042;
  font-size: 13px;
}
.size{
  width: 100%;
  padding: 10px;
  font-size: 12px;
}

.size .size-bl{
  display: block;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.sell-btn{
  width: 97%;
  padding: 10px;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #111;
}
.sell-btn a{
  width: 100%;
  padding: 10px;
  font-size: 11px;
  color: #111;
  text-decoration: none;
  transition: .5s;
}
.sell-btn:hover{
  background-color: #111;
  transition: .5s;
}
.sell-btn:hover a{
  color: #fff;
  transition: .5s;
}
.send{
  padding: 10px;
  font-size: 12px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.send a,
.question a{
  color: #111;
  text-decoration: none;
}
.question{
  width: 100%;
  padding: 10px;
  font-size: 12px;
}
/* 텍스트 설명 끝 */
/* 자세한 설명 이미지 시작 */
.text-img{
  width: 100%;
  text-align: center;
}
.text-img img{
  width: 90%;
}
/* 유사제품 추천 */
.col-md-3 img{
  width: 100%;
  padding-bottom: 15px;
}
.row a{
  color: #111;
}
.col-md-3:hover .explanation p:nth-child(1){
  color: #0078ff;
  transition: .5s;
}
.col-md-3:hover .explanation p:nth-child(2){
  color: rgb(226, 22, 97);
  transition: .5s;
}
/* 리뷰 */
.similar,
.review{
  width: 100%;
  margin: 30px 0;
  padding-left: 15px;
}
.review{
  border-bottom: 1px solid rgba(0,0,0,.1);
}

/* 미디어쿼리 */

@media (max-width: 650px) {
  .row a{
    text-decoration: none;
  }
  .sell .img-box{
    width: 100%;
    text-decoration: none;
  }
  .sell .sell-text{
    width: 100%;
    padding-left: 0;
  }
}
